body{
    background-color: rgb(159, 159, 197);
    /* height: 100vh; */
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu';
}

@font-face {
    font-family: "Ubuntu";   /*Can be any text*/
    src: local("fonts"),
      url("./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Ubuntu";   /*Can be any text*/
    src: local("fonts"),
      url("./assets/fonts/Ubuntu-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Ubuntu";   /*Can be any text*/
    src: local("fonts"),
      url("./assets/fonts/Ubuntu-Medium.ttf") format("truetype");
  }
